<section>
    <div class="FAQEncabezado">
        <div>
            <img src=" images/FAQ.png" alt="conversacion preguntas">
        </div>
        <div>
            <h2>PREGUNTAS FRECUENTES</h2>
        </div>
    </div>
    <div class="FAQContenido">
        <div class="FAQ">
            <h4>¿Soy MONOTRIBUTISTA, que tengo que pagar?</h4>
            <h5>AFIP</h5>
            <p><span>AUTÓNOMOS (Jubilación): </span> Pago mensual conforme a la categoría. Vencimiento por
                finalización de CUIT, comenzando los días 05 de cada mes.
            </p>
            <p><span>IVA: </span>Liquidación mensual. Pago por diferencia entre débito fiscal (ventas) y crédito
                fiscal (compras). Vencimiento: por finalización de CUIT, comenzando los días 18 de cada mes.
            </p>
            <p><span>GANANCIAS: </span>Liquidación y pago anual en Junio de cada año. Cinco anticipos al año a pagar
                entre el 13 y 15 de los meses de agosto, octubre, diciembre,
                febrero y abril.
            </p>
            <p><span>BIENES PERSONALES: </span>Impuesto anual que se presentará en caso de superar los mínimos
                exentos. Vencimiento: junio de cada año.
            </p>
            <h5>ARBA</h5>
            <p><span>INGRESOS BRUTOS: </span>Impuesto anual con pago de anticipos MENSUALES en función de las
                ventas. Vencimiento: de acuerdo a la finalización de la CUIT (comenzando los días 18 de cada mes)
            </p>
            <p>Puede suceder que por realizar ventas en otras jurisdicciones corresponda la inscripción en
                <span>CONVENIO MULTILATERAL</span> y se liquida a través de AFIP.</p>
            <h5>MUNICIPIOS</h5>
            <p>Cada municipio regula sus propias tasas, en general se pagan tasa por habilitacion de comercio y
                tasa de seguridad e higiene.
            </p>

        </div>
        <div class="FAQ">
            <h4>¿Soy RESPONSABLE INSCRIPTO, que tengo que pagar?</h4>
            <h5>AFIP</h5>
            <p><span>MONOTRIBUTO: </span>Pago mensual conforme a la categoría.
                La cuota incluye el impuesto integrado (IVA y Ganancias), y la parte previsional (aportes y obra
                social).
                Vencimiento: días 20 de cada mes (o próximo día hábil)
            </p>
            <p><span>BIENES PERSONALES: </span>Impuesto anual que se presentará en caso de superar los mínimos
                exentos. Vencimiento: junio de cada año.
            </p>
            <h5>ARBA</h5>
            <p><span>INGRESOS BRUTOS: </span>Impuesto anual con pago de anticipos MENSUALES en función de las
                ventas. Vencimiento: de acuerdo a la finalización de la CUIT (comenzando los días 18 de cada mes)
            </p>
            <p>Puede suceder que por realizar ventas en otras jurisdicciones corresponda la inscripción en
                <span>CONVENIO MULTILATERAL</span> y se liquida a través de AFIP.</p>
            <h5>MUNICIPIOS</h5>
            <p>Cada municipio regula sus propias tasas, en general se pagan tasa por habilitacion de comercio y
                tasa de seguridad e higiene.
            </p>
        </div>
        <div class="FAQ">
            <h4>¿Que documentación debo exhibir en mi local?</h4>
            <h5>AFIP</h5>
            <p><span>Formulario 960/D: </span> Debe ubicarse en un lugar visible cercano al sector en el que se
                realice
                el
                pago de las operaciones. En caso que el local tenga vidriera, debe exhibirse, además, contra el
                vidrio,
                para
                que pueda ser visto por el público desde el exterior.
            </p>
            <h5>ARBA</h5>
            <p>Certificado de domicilio y comprobante de pago del último período vencido</p>
            <h5>MUNICIPIOS</h5>
            <p>Certificado de habilitación</p>
            <h5>EMPLEADORES</h5>
            <p>Planilla horaria rubricada por el Ministerio de Trabajo interviniente y cartel informativo de
                la aseguradora
                de riesgos de trabajo
            </p>
            <p>No precisan estar necesariamente expuestos al público, sino que pueden colocarse en espacios a los
                que
                sólo
                tengan acceso aquellos que trabajan allí.
            </p>
        </div>
    </div>
</section>