<section class="servicios">
    <div class="primero">
        <div>
            <img src="images/impuestos.jpeg" alt="impuestos">
        </div>
        <h3>Asesoramiento Impositivo</h3>
        <ul>
            <li>Liquidación mensual y anual de tributos</li>
            <li>Asesoramiento y atención a Monotributistas</li>
            <li>Regímenes de Retención (SICORE)</li>
            <li>Regímenes de Información</li>
            <li>Tramitación de inscripciones ante distintos organismos </li>
            <li>Moratorias y planes de facilidades de pago</li>
        </ul>
        <div>
            <img src="images/sueldos.jpeg" alt="maletin">
        </div>
        <h3>Liquidacion del sueldos y jornales</h3>
        <ul>
            <li>Liquidación de sueldos, jornales y cargas sociales</li>
            <li>Confección y presentación de DDJJ y boletas de sindicatos</li>
            <li>Emisión de recibos de haberes y registración en el libro de sueldos</li>
            <li>Liquidaciones finales</li>
            <li>Inscripciones, altas y bajas de empleados, certificaciones de servicios</li>
        </ul>
    </div>
    <div class="segundo">
        <div>
            <img src="images/conta.jpeg" alt="contabilidad">
        </div>
        <h3>Asesoramiento Contable</h3>
        <ul>
            <li>Preparación de Estados Contables</li>
            <li>Certificaciones e informes contables</li>
            <li>Auditoría de Estados Contables</li>
            <li>Organización contable de todo tipo de entes</li>
            <li>Elaboración del plan de cuentas y registraciones contables</li>
            <li>Análisis y proyección de Estados Contables</li>
        </ul>
        <div>
            <img src="images/soc.jpeg" alt="sociedades">
        </div>
        <h3>Sociedades</h3>
        <ul>
            <li>Determinación del encuadre societario apropiado para su empresa</li>
            <li>Constitución de sociedades</li>
            <li>Reorganizaciones societarias</li>
            <li>Aumento y/o reducción del Capital social</li>
            <li>Disolución y liquidación de sociedades</li>
        </ul>
    </div>
</section>